@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  transform-origin: top left;
  transition-property: transform;
  transition-duration: 300ms;
}

.none {
  display: none;
}

.shrink {
  transform: scale(0);
}

.grow {
  transform: scale(1);
}

.arrowRight {
  transition-property: transform;
  transition-duration: 300ms;
}

.startLeft {
  transform: translateX(-100%);
}

.moveRight {
  transform: translateX(0);
}

.rotateClockwise {
  transform: rotate(90deg);
}

.searchBar {
  transform-origin: right;
  transition-property: transform;
  transition-duration: 300ms;
}

.searchBar:focus {
  outline: none;
}

.collapsedSearchBar {
  transform: scaleX(0);
}

.expandedSearchBar {
  transform: scaleX(1);
}

.concealCloseBtn {
  visibility: hidden;
}
